spring:
  jpa:
    database: h2
    hibernate:
      ddl-auto: create-drop
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:wasp
  profiles:
    include: secret
  output:
    ansi:
      enabled: always
feign:
  client:
    config:
      default:
        connectTimeout: 500
        readTimeout: 3000
        loggerLevel: basic
    url:
      naverJobBoardClient: https://recruit.navercorp.com
#  pharmacy.api.key=6697ce651492e186db0ea6d0c9dc850a
#  pharmacy.api.url=https://dapi.kakao.com/v2/local/search/address.json
jwt:
  expiration_time: 86400 # 1d
  secret: ffd538b4179c3ca10e0e121b2bd6d112af14bb6e219212a1b753fa98ead6e21bd72263e083a43a2105e9ceb72ca8acceb3191f4b8a538594f3e175e40ad84488

logging:
  level:
    kr.co.wasp.api: DEBUG